@using Develix.AzureDevOps.Connector.Model
@using System.Diagnostics.CodeAnalysis

<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.subtitle1" Style="font-weight:800;">@PullRequest.Title</MudText>
        <MudGrid>
            <MudItem xs="12" sm=4>
                <MudText Typo="Typo.body2"><div style="font-weight:800; display:inline">ID:</div> @PullRequest.Id</MudText>
            </MudItem>
            <MudItem xs="12" sm=4>
                <MudText Typo="Typo.body2"><div style="font-weight:800; display:inline">Status:</div> @PullRequest.Status</MudText>
            </MudItem>
            <MudItem xs="12" sm=6>
                <MudText Typo="Typo.body2"><div style="font-weight:800; display:inline">Author:</div> @PullRequest.Author</MudText>
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudText Typo="Typo.body2">
                    <MudLink Typo="Typo.body2" Href="@GetBranchUri(PullRequest.RespositorySource, PullRequest.SourceBranch)">@PullRequest.SourceBranch</MudLink> into
                    <MudLink Typo="Typo.body2" Href="@GetBranchUri(PullRequest.RespositorySource, PullRequest.TargetBranch)">@PullRequest.TargetBranch</MudLink>
                </MudText>
            </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>

@code {
    [Parameter]
    [EditorRequired]
    [NotNull]
    public PullRequest? PullRequest { get; set; }

    private string GetBranchUri(Uri repositoryUri, string branchName) => $"{repositoryUri.AbsoluteUri}?Version=GB{branchName}";
}
